<a href="https://colab.research.google.com/github/gokhanturer/assignment/blob/main/arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Soru 1 cevap c
fruits = {"Apples": 5, "Oranges": 3, "Bananas": 4}
fruit_names = [x for x in fruits.keys()]
fruit_names
# Soru 1 cevap c
fruits = {"Apples": 5, "Oranges": 3, "Bananas": 4}
fruit_names = [x for x in fruits.keys()]
fruit_names
​
['Apples', 'Oranges', 'Bananas']

In [2]:
#soru 3 cevap B
i= 5
while True:
  if i%0O11 == 0: #Explanation: 0O11 is an octal number.0o11 is equal to 1⋅8¹ + 1⋅8⁰ = 9
    break
  print(i) 
  i += 1

5
6
7
8

In [4]:
#Soru 4 Cevap: C Error  This message is telling us that we are treating an integer, which is a whole number, like a subscriptable object. Integers are not subscriptable objects. Only objects that contain other objects, like strings, lists, tuples, and dictionaries, are subscriptable.
x = "abcd"
for i in range(len(x)):
  x[i].upper() 
print(x)

abcd

In [15]:
x = "abcd"
a=len(x)
a

4

In [16]:
b=range(len(x))
b

range(0, 4)

In [24]:
#Soru 5 cevap: D
k=[2,3,4]
print(*reversed(k))

## for string
seq_string = 'Python'
print(list(reversed(seq_string)))

# for tuple
seq_tuple = ('P', 'y', 't', 'h', 'o', 'n')
print(list(reversed(seq_tuple)))

# for range
seq_range = range(5, 9)
print(list(reversed(seq_range)))

# for list
seq_list = [1, 2, 4, 3, 5]
print(list(reversed(seq_list)))

4 3 2

In [25]:
list(reversed(k))

[4, 3, 2]

In [1]:
def calculator(a, b, opr) :
    if opr == '+' :
        return(a + b)
    elif opr == '-' :
        return(a - b)
    elif opr == '*' :
        return(a * b)
    elif opr == '/' :
        return(a / b)
    else :
        return('Only 4 math operations')
a = int(input("please enter a number"))
opr = str(input("please enter math operation"))
b = int(input("please enter a number"))
print(calculator(a, b, opr))

please enter a number43
please enter math operation*
please enter a number435
18705

In [ ]:
def absolute_value(x):
    if  x > 0:
        return x
    else:
        return x*(-1)

In [2]:
print(abs.__doc__)

Return the absolute value of the argument.

In [3]:

def pos_args(a, b):
    print(a, 'is the first argument')
    print(b, 'is the second argument')
pos_args(3,4)
print()
pos_args(4,3)

3 is the first argument
4 is the second argument

4 is the first argument
3 is the second argument

In [11]:
a = "I"
b = "Love"
c = "You"
def texter(c,a,b):
  print(f"{a}{b}{c}")
texter(c,a,b)

def texter(x, y, z):
    print(f"{y} {z} {x}")
texter("you", "i", "love")

ILoveYou
i love you

In [21]:
a = "Mustafa"
b="Gökhan"
c="Türer"
def baba(a,b,c):
    print(f"{a}{b}{c}"+" is the king")
baba(a,b,c)

MustafaGökhanTürer is the king

In [ ]:
def parrot(voltage, state='fuat', action='ceyhan', typed='nörüyon'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", typed)
    print("-- It's", state, "!")

In [24]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [25]:
parrot(voltage=100000, action="voooooooom")

-- This parrot wouldn't voooooooom if you put 100000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [26]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)
city('Athens') # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia') # we can change the default value by kwargs
city('Cape Town', 'Africa') # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

In [ ]:
def fruiterer(fruit1, fruit2) :
    print("I want to get", fruit1, 'and', fruit2)
fruiterer('orange', 'banana')

In [ ]:
def fruiterer(*fruit) :
    print("I want to get :")
    for i in fruit :
        print('-', 1)
fruiterer('orange', 'banana', 'melon', 'ananas')

In [29]:
def slicer(*nums):
    even_list = []
    odd_list = []
    i
    for i in nums:
        if nums %2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)

In [36]:
def slicer(*num):
  print("evens:", [i for i in num if%2 == 0])
  print("odds:", [i for i in num if%2 != 0])

SyntaxError: ignored

In [37]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [39]:
def organizer(**a):
    names=[]
    ages=[]
    for key, value in a.items():
        names.append(key)
        ages.append(value)
    print(keys)
    print(values)

In [38]:
def organizer(**names):
    for key, value in names.items():
        print(key, ":", value)
organizer(Beth = 26, Oscar = 42, Justin = 18, Frank = 33)

Beth : 26
Oscar : 42
Justin : 18
Frank : 33

In [ ]:
def defa(**x) :
    for t, z in x.items():
        print(t, "is", z, "years old.")
defa(ali = 33, veli = 44, deli = 100, ayşe = 22, nazan = 77)